# Pandas
- R의 자료구조 dataframe, matrix(2차원 배열)
- 데이터 분석에서 데이터의 핸들링을 할 때 필수 라이브러리
- 자료형 : Series와 DataFrame
- 표(table) 형태 : 행(관측치, 레코드), 열(속성, 피처)
- 시리즈(Series) = 인덱스(index) + 값(value)

## series
- 1차원 배열과 비슷
- 구성 : index와 value
- 생성 : pd.Series(data, index)

In [1]:
# 모듈로딩
import numpy as np
import pandas as pd

In [2]:
price = pd.Series([4000, 3000, 5000, 2000])

In [3]:
price

0    4000
1    3000
2    5000
3    2000
dtype: int64

In [4]:
price.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
price.values

array([4000, 3000, 5000, 2000], dtype=int64)

In [6]:
fruit = pd.Series([4000, 3000, 5000, 2000], index =['aaa','bbb','ccc','ddd'])

In [7]:
fruit

aaa    4000
bbb    3000
ccc    5000
ddd    2000
dtype: int64

In [9]:
fruit['aaa']

4000

In [10]:
fruit['aaa':'ccc']

aaa    4000
bbb    3000
ccc    5000
dtype: int64

In [11]:
# dict를 이용한 시리즈 생성
city_dict = {'seoul':82, 'Busan':90, 'Incheon':84, 'daejeon':42}

In [12]:
city_dict

{'seoul': 82, 'Busan': 90, 'Incheon': 84, 'daejeon': 42}

In [13]:
city = pd.Series(city_dict)

In [14]:
city

seoul      82
Busan      90
Incheon    84
daejeon    42
dtype: int64

In [15]:
city.values

array([82, 90, 84, 42], dtype=int64)

In [16]:
city['Incheon']

84

In [17]:
obj=pd.Series([4,7,-5,3])

In [18]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

## DataFrame
- 행과 열로 구성
- 행(관측치), 열(속성, 피처)
- pd.DataFrame(data, index, columns)
- 데이터분석에서 가장 기본이 되는 자료구조
- 여러개의 Series로 구성

In [19]:
city_dict = {'name':['aaa', 'bbb', 'ccc'],'age':[13, 14, 19]}
city_dict

{'name': ['aaa', 'bbb', 'ccc'], 'age': [13, 14, 19]}

In [20]:
city = pd.DataFrame(city_dict)

In [21]:
city

  name  age
0  aaa   13
1  bbb   14
2  ccc   19

In [22]:
city.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
city.columns

Index(['name', 'age'], dtype='object')

In [24]:
city[0,:]

TypeError: '(0, slice(None, None, None))' is an invalid key

In [25]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [28]:
#열추가
df['2005-2010증가율'] = (((df['2010']-df['2005'])/df['2005']*100)).round(2)

In [30]:
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283         -1.34
부산  경상권  3448737  3393191  3512547  3655437         0.0163         -3.40
인천  수도권  2890451  2632035  2517680  2466338         0.0982          4.54
대구  경상권  2466052  2431774  2456016  2473990         0.0141         -0.99

In [31]:
del df['2010-2015 증가율']

In [32]:
df

     지역     2015     2010     2005     2000  2005-2010증가율
서울  수도권  9904312  9631482  9762546  9853972         -1.34
부산  경상권  3448737  3393191  3512547  3655437         -3.40
인천  수도권  2890451  2632035  2517680  2466338          4.54
대구  경상권  2466052  2431774  2456016  2473990         -0.99

In [33]:
#열인덱싱
df['지역']

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [35]:
df[['2010','2015']]

       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [36]:
df[['지역']]

     지역
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [37]:
type(df[['지역']])

pandas.core.frame.DataFrame

In [38]:
type(df['지역'])

pandas.core.series.Series

In [39]:
df2=pd.DataFrame(np.arange(12).reshape(3,4))

In [40]:
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [41]:
df2[[1,2]]

   1   2
0  1   2
1  5   6
2  9  10

In [45]:
#행인덱싱 : 항상 슬라이싱을사용[:]
df[0:1]

     지역     2015     2010     2005     2000  2005-2010증가율
서울  수도권  9904312  9631482  9762546  9853972         -1.34

In [46]:
df[:1]

     지역     2015     2010     2005     2000  2005-2010증가율
서울  수도권  9904312  9631482  9762546  9853972         -1.34

In [47]:
df[1:2]

     지역     2015     2010     2005     2000  2005-2010증가율
부산  경상권  3448737  3393191  3512547  3655437          -3.4

In [48]:
df[1:3]

     지역     2015     2010     2005     2000  2005-2010증가율
부산  경상권  3448737  3393191  3512547  3655437         -3.40
인천  수도권  2890451  2632035  2517680  2466338          4.54

In [50]:
df['서울':'부산']

     지역     2015     2010     2005     2000  2005-2010증가율
서울  수도권  9904312  9631482  9762546  9853972         -1.34
부산  경상권  3448737  3393191  3512547  3655437         -3.40

In [52]:
#개별 인덱싱
df['2015']['서울']

9904312