1. 평균팁
2. 요일별 평균 팁
3. 점심/저녁의 팁 평균
4. 흡연자 비율
5. 성별 흡연 여부에 따른 평균
6. 총 결제금액을 기준으로 내림차순 정렬
7. 식당이 주에 몇일 영업하는지 추출
8. 총결제금액을 3등분하여 'low', 'medium', 'high'으로 나누고 평균 팁
9. 총 결제금액별 팁 평균

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
tips = sns.load_dataset('tips')

In [3]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [4]:
tips['tip'].mean()

2.9982786885245902

In [6]:
tips.groupby('day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [7]:
tips.groupby('time')['tip'].mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

In [31]:
tips.groupby('smoker').count()

        total_bill  tip  sex  day  time  size
smoker
Yes             93   93   93   93    93    93
No             151  151  151  151   151   151

In [38]:
tips.groupby(['sex','smoker'])['tip'].mean()

sex     smoker
Male    Yes       3.051167
        No        3.113402
Female  Yes       2.931515
        No        2.773519
Name: tip, dtype: float64

In [49]:
tips.groupby(['day']).count()

      total_bill  tip  sex  smoker  time  size
day
Thur          62   62   62      62    62    62
Fri           19   19   19      19    19    19
Sat           87   87   87      87    87    87
Sun           76   76   76      76    76    76

In [55]:
tips.groupby(['total_bill'])['tip'].mean()

total_bill
3.07      1.000
5.75      1.000
7.25      3.075
7.51      2.000
7.56      1.440
          ...
45.35     3.500
48.17     5.000
48.27     6.730
48.33     9.000
50.81    10.000
Name: tip, Length: 229, dtype: float64